<%= render 'layouts/navi' %>

<div class="content">
  <section class="my-task-list__outer">
    <h3 class="task-list__title">マイタスク</h3>
    <ul class="my-task-list__group">
      <% 1..20.times do |t| %>
      <li class="my-task-list__item">
        <p class="item__title"><a href="javascript:void(0);" class="title__link">タイトル</a></p>
        <p class="item__info">2015/01/01に登録</p>
      </li>
      <% end %>
      <li class="my-task-list__item"><p class="item__more"><a href="javascript:void(0);" class="more__link">もっと見る</a></li>
    </ul>
  </section>

  <section class="task-list__outer">
    <h3 class="task-list__title">プロジェクト</h3>
    <ul class="task-list__group">
      <% 1..10.times do |t| %>
      <li class="task-list__item">
        <p class="item__info">プロジェクト概要の一部を表示します。</p>
        <p class="item__title"><a href="javascript:void(0);" class="title__link">プロジェクトタイトル</a></p>
      </li>
      <% end %>
      <li class="task-list__item"><p class="item__more"><a href="javascript:void(0);" class="more__link">もっと見る</a></li>
    </ul>

    <h3 class="task-list__title">プロジェクトタスク</h3>
    <ul class="task-list__group">
      <% 1..10.times do |t| %>
      <li class="task-list__item">
        <p class="item__info">2015/01/01&nbsp;<a href="javascript:void(0);" class="info__link">山田太郎</a>さんがタスクを登録しました。</p>
        <p class="item__title"><a href="javascript:void(0);" class="title__link">タイトル</a></p>
      </li>
      <% end %>
      <li class="task-list__item"><p class="item__more"><a href="javascript:void(0);" class="more__link">もっと見る</a></li>
    </ul>
  </section>
</div>
