<%= render 'layouts/navi' %>

<div class="content">
  <section class="project-outer">
    <h1>プロジェクト名</h1>
    <p class="project__content">プロジェクト概要を表示します。</p>
    <p class="project__members"><span>山田</span>&nbsp;<span>木村</span>&nbsp;<span>田中</span><p>
  </section>
  <section class="project-task-outer">
    <% ["未対応", "作業中", "完了"].each do |title| %>
    <ul class="task-list__group">
      <h3 class="task-list__title"><%= title %></h3>
      <% 1..10.times do |i| %>
      <li class="task-list__item" draggable="true">
        <p class="item__info">2015/01/01&nbsp;<a href="javascript:void(0);" class="info__link">山田太郎</a>さんがタスクを登録しました。</p>
        <p class="item__title"><a href="javascript:void(0);" class="title__link"><%= title %>タイトル<%= i %></a></p>
      </li>
      <% end %>
    </ul>
    <% end %>
  </section>
</div>
