@import "bourbon";
@import "neat";

$base-white: #FEFEFE;
$base-gray: #ddd;
$base-black: #333;

$gold-rate: 1.618;

* {
  margin: 0;
  padding: 0;
  font-family: Avenir, 'Helvetica neue', Helvetica, '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  background-color: $base-white;
  color: $base-black;
}

html {
  font-size: 62.5%;
}

body {
}

h1 {
  font-size: $gold-rate * 3 * 1rem;
}

h2 {
  font-size: $gold-rate * 2.5 * 1rem;
}

h3 {
  font-size: $gold-rate * 2 * 1rem;
}

h4 {
  font-size: $gold-rate * 1.5 * 1rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.content {
  @include span-columns(10);
  @include shift(1);
}

@mixin input-text {
  border: 1px solid $base-gray;
  padding: 10px;
  font-size: $gold-rate * 1rem;
  @include border-top-radius(4px);
  @include border-bottom-radius(4px);
}

@mixin textarea {
  border: 1px solid $base-gray;
  padding: 10px;
  font-size: $gold-rate * 1rem;
  @include border-top-radius(4px);
  @include border-bottom-radius(4px);
}

@mixin select {
  border: 1px solid $base-gray;
  padding: 10px;
  font-size: $gold-rate * 1rem;
  @include border-top-radius(4px);
  @include border-bottom-radius(4px);
  @include appearance(none);
}

@mixin base-button {
  border: 1px solid $base-black;
  padding: 5px 10px;
  font-size: $gold-rate * 1rem;
  text-align: center;
  @include border-top-radius(4px);
  @include border-bottom-radius(4px);

  &:hover {
    font-weight: bold;

    &:active {
      font-weight: normal;
      border: 2px solid $base-black;
    }
  }
}
