@import "common";

.login-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 320px;
  height: 320px;
  text-align: center;
  @include border-top-radius(6px);
  @include border-bottom-radius(6px);
  background-color: $base-color;
}

.login-form__logo {
  width: 190px;
  height: 150px;
}

.login-form__text,
.login-form__submit {
  border: none;
  padding: 10px;
  margin-top: 10px;
  font-size: large;
  @include border-top-radius(4px);
  @include border-bottom-radius(4px);
  @include display(block);
  @include span-columns(10);
  @include shift(1);
}

.login-form__submit {
  color: $base-white;
  background-color: $third-color;

  &:hover {
    background-color: $third-low-dark-color;
  }

  &:active {
    background-color: $third-high-dark-color;
    outline:none;
  }
}
